@font-face {
    font-family: "digital";
    src: url("../font/DS-DIGI.TTF") format("truetype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #091921;
}

.wrap {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.analogique-container {
    padding: 30px;
    border-radius: 5px;
    
    width: 350px;
    border: 4px solid rgba(255, 255, 255, .02);
    
    box-shadow: 0 -15px 15px rgba(255, 255, 255, .05),
    inset 0 -15px 15px rgba(255, 255, 255, .05),
    0 15px 15px rgba(0, 0, 0, .3),
    inset 0 15px 15px rgba(0, 0, 0, .3);
}

.horloge {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/cadran.png);
    background-size: cover;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .02);
    
    box-shadow: 0 -15px 15px rgba(255, 255, 255, .05),
    inset 0 -15px 15px rgba(255, 255, 255, .05),
    0 15px 15px rgba(0, 0, 0, .3),
    inset 0 15px 15px rgba(0, 0, 0, .3);
}

.time {
    font-family: "digital";
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }